body{
font-family:Arial;
margin:0;
text-align:center;
text-shadow: #100c13;
background:#0b0606;
}

nav{
background:#302576;
padding:15px;
}

nav a{
color:white;
margin:15px;
text-decoration:none;
font-weight:bold;
font-size: 20px;
}

.hero{
padding:80px;

}




*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

/* Home Layout */

.home{
display:grid;
grid-template-columns:1fr 1fr 1fr;
align-items:center;
height:80vh;
text-align:center;
}


.center{
display:flex;
justify-content:center;
align-items:center;
}

.profile-container{
position:relative;
width:260px;
height:260px;
display:flex;
justify-content:center;
align-items:center;
}



.profile-photo{
width:230px;
height:230px;
border-radius:50%;
object-fit:cover;
border:5px solid white;
animation:float 4s ease-in-out infinite;
z-index:2;
}


@keyframes float{
0%{transform:translateY(0);}
50%{transform:translateY(-15px);}
100%{transform:translateY(0);}
}



.ring{
position:absolute;
width:320px;
height:320px;
border-radius:50%;
border:3px solid transparent;
border-top:3px solid #00ffff;
border-right:3px solid #ff00ff;
border-left:3px solid #7209b7 ;
border-bottom: 3px solid #194aa4;
animation:spin 4s linear infinite;
}


@keyframes spin{
0%{transform:rotate(0deg);}
100%{transform:rotate(360deg);}
}


.particle{
position:absolute;
width:12px;
height:12px;
background:#00ffff;
border-radius:50%;
animation:orbit 6s linear infinite;
}

.p1{top:0; left:50%;}
.p2{bottom:0; left:30%; animation-duration:8s;}
.p3{right:0; top:40%; animation-duration:10s;}
.p4{left:0; top:60%; animation-duration:12s;}


@keyframes orbit{
0%{transform:rotate(0deg) translateX(120px) rotate(0deg);}
100%{transform:rotate(360deg) translateX(120px) rotate(-360deg);}
}

.profile-photo{
width:320px;
height:320px;
border-radius:50%;
object-fit:cover;
border:5px solid white;
animation:pulseGlow 3s infinite;
}



@keyframes pulseGlow{

0%{
box-shadow:0 0 10px #00b4d8;
transform:scale(1);
}

50%{
box-shadow:0 0 40px #00b4d8, 0 0 60px #7209b7;
transform:scale(1.05);
}

100%{
box-shadow:0 0 10px #00b4d8;
transform:scale(1);
}

}


.profile-photo:hover{
transform:scale(1.1);
box-shadow:0 0 40px #00b4d8;
}



@keyframes float{
0%{transform:translateY(0);}
50%{transform:translateY(-15px);}
100%{transform:translateY(0);}
}



@keyframes rotate{
0%{transform:rotate(0deg);}
100%{transform:rotate(360deg);}
}



.circle{
width:300px;
height:300px;
background:linear-gradient(45deg,#00ffff,#ff00ff);
border-radius:50%;
position:absolute;
filter:blur(40px);
z-index:-1;
}
body{
background:linear-gradient(135deg,#141e30,#243b55);
color:white;
height:100vh;
}



nav{
display:flex;
justify-content:space-between;
padding:20px 80px;
}

nav ul{
display:flex;
list-style:none;
gap:30px;
}

nav ul li a{
color:white;
text-decoration:none;
}




@keyframes rotate{
0%{transform:rotate(0deg);}
100%{transform:rotate(360deg);}
}


.skill{
display:inline-block;
background:#caf0f8;
padding:10px 20px;
margin:10px;
border-radius:20px;
}

.card{
width:250px;
margin:auto;
margin-top:20px;
padding:20px;
background:white;
border-radius:10px;
box-shadow:0 5px 10px rgba(0,0,0,0.2);
}
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}



body{
height:100vh;
background:linear-gradient(270deg,#ff6ec4,#7873f5,#23a6d5);
background-size:600% 600%;
animation:bgMove 10s infinite alternate;
color:white;
}

@keyframes bgMove{
0%{background-position:0% 50%;}
100%{background-position:100% 50%;}
}



nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 80px;
}

.logo{
font-size:30px;
font-weight:bold;
}

nav ul{
display:flex;
list-style:none;
gap:30px;
}

nav ul li a{
text-decoration:none;
color:white;
font-size:18px;
}

nav ul li a:hover{
color:yellow;
}


.home{
display:flex;
justify-content:space-around;
align-items:center;
height:80vh;
padding:40px;
}

.left{
text-align:right;
}

.right{
text-align:left;
}

.center{
display:flex;
justify-content:center;
align-items:center;
}


.content{
background:rgba(255,255,255,0.1);
padding:40px;
border-radius:20px;
backdrop-filter:blur(10px);
}

.content h1{
font-size:40px;
color:#100c13;
}

.content span{
color:yellow;
}

.content h3{
margin-top:10px;
font-size:28px;
}

.content p{
margin-top:15px;
font-size:18px;
}



.buttons{
margin-top:20px;
}

.btn1,.btn2{
padding:10px 25px;
border:none;
border-radius:25px;
margin-right:10px;
font-size:16px;
cursor:pointer;
}

.btn1{
background:yellow;
color:black;
}

.btn2{
background:white;
color:black;
}

.home{
display:flex;
align-items:center;
justify-content:center;
height:80vh;
gap:80px;
}



.left h1{
font-size:40px;
color: #000;
}

.left h2{
font-size:45px;
color:#194aa4;
}

.left h3{
font-size:25px;
color: #000;
}

.right{
max-width:250px;
font-size: 25px;
}

button{
margin-top:20px;
padding:10px 25px;
border:none;
border-radius:25px;
background:#00ffff;
cursor:pointer;
}
